{{#if admin_new_search}}
<!--admin_new_search-->
<div class="admin_new_search">
      <h1>新增</h1>
      <form name="form" id="admin_search" action="" >
      <div>
          {{> message}}
            <div>
              <label>公司</label>
              <select name="cpnyId" id="cpnyId" class="form-control" required>
                <option value="" selected>請選擇</option>
                {{#each adminCompany}}
                {{#isnt this.CPY_NAME 'Admin'}}
                <option value="{{this.CPY_ID}}" {{#is this.CPY_ID ../cpnyId}} selected {{/is}}>
                {{this.CPY_NAME}}
                </option>
                {{/isnt}}
              {{/each}}
            </select>
          </div>

          <div>
            <label>資訊類別</label>
            <select name="category" id="category" class="form-control" required>
              <option value="" selected>請選擇</option>
              <option value="cpnyinfo" {{#is category 'cpnyinfo'}} selected {{/is}}>公司資訊</option>
              <option value="position" {{#is category 'position'}} selected {{/is}}>職缺資訊</option>
              <option value="subsidy" {{#is category 'subsidy'}} selected {{/is}}>補助資訊</option>
              <option value="leave" {{#is category 'leave'}} selected {{/is}}>假別資訊</option>
              <!-- <option value="GREET">問候資訊</option>
              <option value="DEFAULT">預設回覆</option> -->
            </select>
          </div>

          <div id="adminSearch-block">
            <label>資訊名稱</label>
            <input type="text" class="form-control" name="cnName" placeholder="請輸資料名稱" value="{{cnName}}" required>
          </div>

          <div id="adminSearch-block">
            <label>英文名稱</label>
            <input type="text" class="form-control" name="entity_name" placeholder="請輸資料英文名稱" value="{{entity_name}}" required>
          </div>
          

          <div>
            <label>資訊內容</label>
            <textarea type="text" class="form-control" name="des" rows="10" placeholder="請輸入回覆內容" required>{{des}}</textarea>
          </div>

        </div>
        <div class="formButton">
          <input type="button" id="cancel" class="btn btn-primary" onclick="Method.common.page('/admin_search')" value="取消">
          <input type="submit" id="add" class="btn btn-info" value="新增">
        </div>
  </div>
</div>
{{/if}}