{{#if admin_search}}
<!--admin_search-->
<div class="admin_search">
  <h1>查詢各公司回覆資料</h1>
  <form action="" class="searchBar">
    
    <label for="companyFilter">公司：</label>
    <select name="companyFilter" id="companyFilter" required>
      <option value="" selected>請選擇</option>
      {{#each adminCompany}}
      {{#isnt this.CPY_NAME 'Admin'}}
      <option value="{{this.CPY_ID}}" {{#is this.CPY_ID ../companyFilter}} selected {{/is}}>{{this.CPY_NAME}}</option>
      {{/isnt}}
      {{/each}}
    </select>

    <label for="tableFilter">類別：</label>
    <select name="tableFilter" id="tableFilter" required>
      <option value="" selected>請選擇</option>
      <option value="cpnyinfo" {{#is tableFilter 'cpnyinfo'}} selected {{/is}}>公司資訊</option>
      <option value="position" {{#is tableFilter 'position'}} selected {{/is}}>職缺資訊</option>
      <option value="subsidy" {{#is tableFilter 'subsidy'}} selected {{/is}}>補助資訊</option>
      <option value="leave" {{#is tableFilter 'leave'}} selected {{/is}}>假別資訊</option>
      <!-- <option value="GREET" {{#is tableFilter 'GREET'}} selected {{/is}}>問候資訊</option>
      <option value="DEFAULT" {{#is tableFilter 'DEFAULT'}} selected {{/is}}>預設回覆</option> -->
    </select>

    <label for="search">搜尋：</label>
    <input type="text" name="search" id="search" value="{{search}}" placeholder="搜尋關鍵字(可空白)">
  
    <input type="submit" class="btn btn-info" value="查詢">
  </form> 
  {{> message}}
  <div id="data-panel">
    {{#each adminSearchInfo}}
    <div>
      <span>
        <div>
          <span>資訊名稱：</span>
          <span title="{{this.adminSearch_name}}">{{this.adminSearch_name}}</span>
        </div>
        <div>
          <span>英文名稱：</span>
          <span title="{{this.adminSearch_entity_name}}">{{this.adminSearch_entity_name}}</span>
        </div>
        <div>
          <span>資訊內容：</span>
          <span title="{{this.adminSearch_des}}">{{this.adminSearch_des}}</span>
        </div>
      </span>

      <span>
        <input type="button" id="edit" class="btn btn-primary" onclick="Method.common.page('/admin_search/{{../tableFilter}}/{{ this.adminSearch_entity_name }}/{{this.infoId}}/edit')" value="編輯">
        {{!-- 設置data名稱，在資料傳遞時都會把名稱轉成全部小寫，所以設定名稱時，全部小寫就好 --}}
        <input type="button" id="del" class="btn btn-danger" data-title="{{this.adminSearch_name}}" data-infoId="{{this.infoId}}" data-category="{{../tableFilter}}" value="刪除">
      </span>
    </div>
    {{/each}}
  </div>
  <div class="footButton">
    <input type="button" class="btn btn-warning" onclick="Method.common.page('/admin_search/new')" value="新增資訊">
  </div>
</div>
{{/if}}