{{#if admin_edit_company}}
<!--admin_edit_company-->
<div class="admin_edit_company">
  <h1>編輯帳號</h1>
  {{> message}}
  <form action="" name="form" id="admin_company">

    <div>
      <label for="cpy_no">公司代碼</label>
      <input type="text" name="cpy_no" class="form-control" placeholder="請輸入公司統編" value="{{ adminCompanyInfo.CPY_ID }}" required>
    </div>

    <div>
      <label for="cpy_name">公司名稱</label>
      <input type="text" name="cpy_name" class="form-control" placeholder="請輸入公司名稱" value="{{ adminCompanyInfo.CPY_NAME }}" required>
    </div>

    <div>
      <label for="email">Email</label>
      <input type="email" name="email" class="form-control" placeholder="請輸入信箱" value="{{ adminCompanyInfo.EMAIL }}" required>
    </div>

<!--
    <div>
      <label for="industry_no">產業類別</label>
      <select name="industry_no" id="industry_no" class="form-control" required>
        <option value="" selected hidden>請選擇</option>
        {{#each industryInfo}}
        <option value="{{this.INDUSTRY_ID}}" {{#is this.INDUSTRY_ID ../adminCompanyInfo.INDUSTRY_NO}} selected {{/is}}>
        {{this.INDUSTRY_NAME}}
        </option>
        {{/each}}
      </select>
    </div>
-->

    <div>
      <label for="ishr">客服使用者</label>
      <select name="ishr" class="form-control" required>
        <option value="" selected>請選擇</option>
        <option value="1" {{#is adminCompanyInfo.ISHR '1'}} selected {{/is}}>是</option>
        <option value="0" {{#is adminCompanyInfo.ISHR '0'}} selected {{/is}}>否</option>
      </select>
    </div>

    <div>
      <label for="isadmin">權限</label>
      <select name="isadmin" class="form-control" required>
        <option value="" selected>請選擇</option>
        <option value="1" {{#is adminCompanyInfo.ISADMIN '1'}} selected {{/is}}>管理員</option>
        <option value="0" {{#is adminCompanyInfo.ISADMIN '0'}} selected {{/is}}>一般使用者</option>
      </select>
    </div>

    <div class="formButton">
      <input id="cancel" type="button" class="btn btn-primary" onclick="Method.common.page('/admin_company')" value="取消">
      <input id="save" type="submit" class="btn btn-info" data-action="/{{route}}/{{id}}/{{category}}/{{action}}" value="儲存">
    </div>
  </form>
</div>
{{/if}}