{{#if jh_des}}
<!-- jh_des -->
<div class="jh_des">
  <h1>{{#is category 'cpnyinfo'}}公司{{/is}}{{#is category 'position'}}職缺{{/is}}{{#is category 'leave'}}假別{{/is}}{{#is category 'subsidy'}}補助{{/is}}資訊</h1>
  <style id="searchCss"></style>
  <div class="searchBar">
    <input type="text" name="search" id="search" value="{{search}}" placeholder="搜尋關鍵字" class="form-control">
  </div>
  {{> message}}
  <div id="data-panel">
    {{#each desInfo}}
    <div data-search="{{this.name}}{{this.entity_name}}{{this.des}}{{#each this.synonymsList}}{{this.synonyms}}{{/each}}">
      <span>
        <div>
          <span>資訊名稱：</span>
          <span title="{{this.name}}">{{this.name}}</span>
        </div>
        <div>
          <span>英文名稱：</span>
          <span class="enName" title="{{this.entity_name}}">{{this.entity_name}}</span>
        </div>
        <div>
          <span>同義詞：</span>
          <span class="synonyms" title="{{#unless this.synonymsList}}無{{else}}{{#each this.synonymsList}}{{this.synonyms}}{{/each}}{{/unless}}">{{#unless this.synonymsList}}無{{else}}{{#each this.synonymsList}}{{this.synonyms}}{{/each}}{{/unless}}</span>
        </div>
        <div>
          <span>資訊內容：</span>
          <span class="des" title="{{this.des}}">{{this.des}}</span>
        </div>
      </span>
      <span>
        {{#is ../category 'cpnyinfo'}}<input type="button" class="btn btn-info" onclick="Method.common.page('/jh_cpnyInfo/{{ this.infoId }}/queryCategory')" value="同義詞">{{/is}}
        {{#is ../category 'position'}}<input type="button" class="btn btn-info" onclick="Method.common.page('/jh_position/{{ this.infoId}}/queryCategory')" value="同義詞">{{/is}}
        {{#is ../category 'leave'}}<input type="button" class="btn btn-info" onclick="Method.common.page('/jh_leave/{{ this.infoId}}/queryCategory')" value="同義詞">{{/is}}
        {{#is ../category 'subsidy'}}<input type="button" class="btn btn-info" onclick="Method.common.page('/jh_subsidy/{{ this.infoId}}/queryCategory')" value="同義詞">{{/is}}
        {{#is ../category 'cpnyinfo'}}<input type="button" class="btn btn-primary" onclick="Method.common.page('/jh_cpnyInfo/{{ this.entity_name }}/edit')" value="編輯">{{/is}}
        {{#is ../category 'position'}}<input type="button" class="btn btn-primary" onclick="Method.common.page('/jh_position/{{ this.entity_name}}/edit')" value="編輯">{{/is}}
        {{#is ../category 'leave'}}<input type="button" class="btn btn-primary" onclick="Method.common.page('/jh_leave/{{ this.entity_name}}/edit')" value="編輯">{{/is}}
        {{#is ../category 'subsidy'}}<input type="button" class="btn btn-primary" onclick="Method.common.page('/jh_subsidy/{{ this.entity_name}}/edit')" value="編輯">{{/is}}

        <input type="button" id="del" class="btn btn-danger" data-title="{{this.name}}" data-infoId="{{this.infoId}}" value="刪除">
      </span>
    </div>
    {{/each}}
  </div>
  <div class="footButton">
    {{#is category 'cpnyinfo'}}<input type="button" class="btn btn-warning" onclick="Method.common.page('/jh_cpnyInfo/new')" value="新增公司資訊">{{/is}}
    {{#is category 'position'}}<input type="button" class="btn btn-warning" onclick="Method.common.page('/jh_position/new')" value="新增職缺資訊">{{/is}}
    {{#is category 'leave'}}<input type="button" class="btn btn-warning" onclick="Method.common.page('/jh_leave/new')" value="新增假別資訊">{{/is}}
    {{#is category 'subsidy'}}<input type="button" class="btn btn-warning" onclick="Method.common.page('/jh_subsidy/new')" value="新增補助資訊">{{/is}}
  </div>
</div>
{{/if}}