{{#if jh_simple_story}}
<!-- jh_simple_story -->
<div class="jh_simple_story">
  <h1>故事流程(simple)</h1>
  {{> message}}
  <form name="form" action="" class="searchBar" id="search">
    <label for="storyFilter">故事名稱：</label>
    <select name="storyFilter" id="storyFilter" required>
      <option value="" selected disabled>請選擇</option>
      {{#each stories}}
      <option value="{{this.story}}">{{this.story}}</option>
      {{/each}}
    </select>
    <input type="submit" class="btn btn-info" id="filterBtn" value="查詢">
  </form>

  <div>
    <div id="data-panel">
      <div id="stories" style="{{#unless storyData.length}}visibility: hidden;{{else}}visibility: visible;{{/unless}}">
        {{#each storyData}}
        <div id="title-container">
          <div class="titleDiv">
            <div id="storyTitle" class="form-control" data-event="blur" contenteditable="false">{{this.story}}</div>
            <div id="tittleBtn" style="opacity: 0;transition: opacity .1s ease-in-out;">
              <button id="storyTitleEdit" class="btn btn-success" type="button" disabled>編輯故事名稱</button>
            </div>
          </div>
          <div>
            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#staticBackdrop">刪除故事</button>
          </div>

          <!-- Modal -->
          <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="staticBackdropLabel">刪除故事</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  確定要刪除名稱為：『<strong id="removeStoryName">{{this.story}}</strong>』的故事?
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
                  <button type="button" class="btn btn-primary" id="storyRemoveBtn" data-storyname="{{this.story}}" data-bs-dismiss="modal">確定</button>
                </div>
              </div>
            </div>
          </div>
        </div>

        {{#forEach this.steps}}
        {{#if intent}}
        <div id="storyDiv" class="userStep" style="border: 1px solid transparent; border-radius: 5px;">
          <span id="storySpan">
            {{#if user}}
            <input placeholder="使用者說...." name="userInput" id="userInput" class="form-control story-user"
              data-event="keydown" data-status="waiting" autocomplete="off" disabled style="cursor: pointer;"
              value="{{user}}">
            {{/if}}
            <span id="attrSpan">
              {{#is ../this.story '問候語'}}
              <span id="intent-span" class="nluSpan {{#if user}}mt-10{{/if}}" data-stepindex="{{@index}}">
                <i class="fas fa-tag" style="font-size: 7px;"></i>
                <span id="intent-text" class="nluText">意圖: {{intent}}</span>
              </span>
              {{/is}}
              
            </span>
          </span>
          <div class="top-right"
            style="max-width: 100px; position: absolute; top: 9px; right: 9px; visibility: hidden;">
            <span>

              <button type="button" id="removeBtn" class="btn btn-danger" style="margin-left: 5px;">
                <i class="fas fa-trash-alt" style="font-size: 7px;"></i>
              </button>
            </span>
          </div>
        </div>
        {{else}}

        <div id="storyDiv" class="botRes" style="margin-left: 20%; border: 1px solid transparent; border-radius: 5px;">
          <span id="storySpan">
            <textarea placeholder="機器人回覆...." name="botInput" id="botInput" class="form-control story-bot"
              data-status="waiting" data-event="blur" style="height: 98px;" readonly>{{response}}</textarea>
          </span>
          <div class="top-right"
            style="max-width: 100px; position: absolute; top: 9px; right: 9px; visibility: hidden;">
            <span>
              <button type="button" id="removeBtn" class="btn btn-danger">
                <i class="fas fa-trash-alt" style="font-size: 7px;"></i>
              </button>
            </span>
          </div>
          <div class="bottom-right" data-isfocus="false"
            style="position: absolute; right: 9px; bottom: 9px; visibility: hidden;" data-ismouseleave="true">
            <div class="res-name" style="display: flex;">
              <div class="res-name-input-div">
                <input id="res-name-input" value="{{action}}">
              </div>
            </div>
          </div>
        </div>

        {{/if}}
        {{/forEach}}
        {{/each}}
        <div id="btnDiv" style="margin-top: 10px;opacity: 0;transition: opacity .1s ease-in-out;">
          <button id="userBtn" class="btn btn-success" type="button">使用者</button>
          <button id="botBtn" class="btn btn-primary" type="button" style="margin-left: 12px;">機器人</button>
        </div>
      </div>
    </div>
  </div>
  <div class="footButton">
    <input type="button" class="btn btn-warning" onclick="Method.common.page('/jh_simple_story/new')" value="新增故事流程">
  </div>
</div>
{{/if}}

