<div class="adminIndustryInfo">
  <h1>公司產業類別</h1>
  <form action="/adminIndustryInfo" class="searchBar">
    <input type="text" name="search" id="search" onchange="submit()" value="{{search}}" placeholder="搜尋關鍵字">
  </form> 
  <div>
    {{> message}}
        <div id="data-panel">
          {{#each adminIndustryInfo}}
            <div>
              <span>
                <div>
                  <span>產業類別代號：</span>
                  <span>{{this.INDUSTRY_ID}}</span>
                </div>
                <div>
                  <span>產業類別名稱：</span>
                  <span>{{this.INDUSTRY_NAME}}</span>
                </div>
              </span>
              <span>
                <button class=" btn btn-danger" id="delete-btn" data-toggle="modal" data-target="#deleteModal" data-id="{{ this.INDUSTRY_ID }}" data-name="{{ this.INDUSTRY_NAME }}" data-category="adminIndustryInfo">
                    刪除
                </button>
              </span>
          </div>
          {{/each}}
        </div>
  </div>
  <div class="text-center footButton">
    <a href="/adminIndustryInfo/new" class="btn btn-warning" id="create-btn">新增資訊</a>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalScrollableTitle">刪除資訊</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>確定要刪除<strong id="delete-position">{{ this.SUBSIDY_NAME }}</strong>?</p> 
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
        <form action="/adminSubsidyInfo/{{ this.SUBSIDY_ID }}" method="post" style="display:inline-block;" id="delete-form">
          <button type="submit" class="btn btn-danger">確定</button>
        </form>
      </div>
    </div>
  </div>
</div>