<div class="row d-flex flex-column align-items-center all">
  <h1 class="m-5">Admin - 功能資訊</h1>
  <div class="row">
    <div class="admin-search-wrapper">
      <form action="/bf_cs/function/filter">

        <label for="category">類別：</label>
        <select name="category" id="category" onchange="submit()">
          <option value="" selected hidden>請選擇</option>
          {{#each categoryInfo}}
          <option value="{{this.CATEGORY_ID}}" {{#is this.CATEGORY_ID ../category}} selected {{/is}}>{{this.CATEGORY_NAME}}</option>
          {{/each}}
        </select>

        <label for="search">搜尋：</label>
        <input type="text" name="search" id="search" value="{{search}}" onchange="submit()" placeholder="請輸入關鍵字...(可空白)">
      
        {{!-- <button type="submit" class="btn btn-outline-dark" style="font-size: 1.5rem;">查詢</button> --}}
      </form> 
    </div>
  </div>

  <div class="col-9 wrapper">
    {{> message}}
    <div class="scroll-view">
      <ul class="list-group">
        <div class="row d-flex justify-content-center" id="data-panel">
          {{#each functionInfo}}
          <div class="col-12">
            <li class="list-group-item" id="record-item" style="border: none;">
              <div class="row">
                <div class=" item-wrapper">
                  <div class=" my-2 item-title">
                    <div class="d-flex">
                      <div class="label-title">功能名稱：</div>
                      <div class="label-des">{{this.FUNCTION_NAME}}</div>
                    </div>
                    <div class="d-flex">
                      <div class="label-title">功能英文名稱：</div>
                      <div class="label-des">{{this.ENTITY_NAME}}</div>
                    </div>
                  </div>
                  <div class="d-flex justify-content-center item-buttons">
                    {{#unless this.TRAINED}}
                    <form action="/bf_cs/functionTrained/{{this.CATEGORY_ID}}/{{this.FUNCTION_ID}}?_method=PUT" method="POST">
                      <button class="btn btn-warning mx-2" style="font-size:medium; height:fit-content">
                        訓練完成
                      </button>
                    </form>
                    {{/unless}}
                    <button class=" btn btn-danger mx-2" style="font-size:medium; height:fit-content"
                        id="delete-function-btn" data-toggle="modal" data-target="#deleteModal" data-id="{{ this.FUNCTION_ID }}"
                        data-name="{{ this.FUNCTION_NAME }}" data-categoryid="{{this.CATEGORY_ID}}" data-category="bf_cs/function">
                        刪除
                    </button>
                  </div>
              </div>
            </li>
          </div>
          {{/each}}
        </div>
      </ul>
    </div>
  </div>

  <div class="col-10 my-5 d-flex justify-content-center">
    <div class="col-6">
      <div class="row justify-content-center">
        <a href="/bf_cs/function/new" class="btn btn-outline-warning col-8" id="create-btn"
          style="font-size: 1.5rem;">新增功能</a>
      </div>
    </div>
    <div class="col-6">
      <div class="row justify-content-center">
        <a href="/" class="btn btn-outline-dark col-8" id="create-btn"
          style="font-size: 1.5rem;">返回</a>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalScrollableTitle">刪除資訊</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>刪除<strong id="delete-function">{{ this.POSITION_NAME }}</strong>功能將會把相關的問答資料一併刪除!</p>
        <p>確定要刪除<strong id="delete-function">{{ this.POSITION_NAME }}</strong>?</p> 
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
        <form action="/position/{{ this.POSITION_NO }}" method="post" style="display:inline-block;" id="delete-form">
          <button type="submit" class="btn btn-danger">確定</button>
        </form>
      </div>
    </div>
  </div>
</div>